*{
   margin: 0;
   padding: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
}
/*Estilos generales*/
.image-container{
   display: flex;
}
.image-container img{
   width: 100%;
}

#computadora img{
   height: 600px;
}

/*Estilos del header*/
header{
   background-color: #0a0303bc;
   padding: 10px 30px;
}

#logo{
   width: 50px;
}

#logo img{
   border-radius: 100%;
   border: 2px solid #ffff;
}

/*styles hero*/
#hero{
   position: relative;
}

#hero #computadora{
   display: inline-block;
   width: 100%;
}

#hero .information-container{
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   display: flex;
   color: white;
   padding: 0 90px;
   transform: translateY(-50%);
}

#hero .information-container #foto{
   width: 200px;
}
#hero .information-container #foto img{
   border-radius: 100%;
   padding-left: 15px;
}

#hero .information-container .information{
   margin-left: 160px;
   font-weight: bold;
   width: calc(100% - 200px);
}

#hero .information-container .information span{
   color: whitesmoke;
   margin-bottom: 80px;
   display: inline-block;
   padding-left: 12px;
}

/*styles main */
main{
   padding: 50px;
}

main p{
   text-align: center;
}
main .social-icons{
display: flex;
justify-content: center;
margin: 10px;
padding-right: 10px;
list-style: none;
}
main .social-icons li{
   margin: 5px;
}

main .social-icons .social-icon{
   justify-content: center;
   align-items: center;
   align-self: baseline;
   display: flex;
   padding: 9px;
   border-radius: 20px;
   width: 75%;
   height: 85%;
}

main .social-icons #linkedin{
   background: #0077b0;
}

main .social-icons #github{
   background: #23272d;  
}

main .social-icons #twitter{
   background: #1da1f2;
}