*{
   margin: 0;
   padding: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
}
/*Estilos generales*/
.image-container{
   display: flex;
}
.image-container img{
   width: 100%;
}

/*Estilos del header*/
header{
   background-color: #0a0303bc;
   padding: 10px 50px;
}

#logo{
   width: 50px;
}

#logo img{
   border-radius: 100%;
   border: 2px solid #ffff;
}

/*styles hero*/
#hero{
   position: relative;
}

#hero #computadora{
   display: inline-block;
   width: 100%;
}

#hero .information-container{
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   display: flex;
   color: white;
   padding: 0 90px;
   transform: translateY(-50%);
}

#hero .information-container #foto{
   width: 200px;
}
#hero .information-container #foto img{
   border-radius: 100%;
}

#hero .information-container .information{
   margin-left: 80px;
   font-weight: bold;
}

#hero .information-container .information span{
   color: #b5b5b5;
   margin-bottom: 100px;
   display: inline-block;
}
